/* Sets global colours so they can be called using var()*/
/* :root {
	--sys-primary: #28261b;
	--sys-inverse-on-surface: #e8e6dc;
	--sys-primary-fixed: #b5e5ff;
	--whiteBG: #f5f3ef;
	--lightBG: #e8e6dc;
	--darkBG: #d4d0c3;
	--shadow-light: 2px 2px 1px 0px rgba(40, 38, 27, 0.2);
	--shadow-medium: 2px 2px 8px 0px rgba(40, 38, 27, 0.4);
	--transition-fast: 0.15s ease-in-out;
	--button-text: #28261b;
	--noticeBG: #9ce8a6;
	--listBG1: #f5f5f5;
	--listBG2: #ffffff;
	--footerBG: #fff;
	--footernav1: #000;
	--footernav2: #666;
	--footernav3: #444;
	--footerborder:#ddd;
} */
/* Setting the font to match the website
@font-face {
	font-family: 'hind-regular';
	src: url('https://catalogue.bl.uk/nde/custom/44BL_MAIN-BLL01_NDE/assets/hind-regular.woff2') format('woff2');
}
body {
	font-family: 'hind-regular', sans-serif !important;
} */
/* Set the main page background colour */
/* body {
	background-color: var(--whiteBG) !important;
	margin: 0;
	padding: 0;
} */
/* Stop them from making things uppercase without permission*/
.text-uppercase{
	text-transform: none !important;
}

/** TOP BAR - Menus, Logo, Login ***/
/* Places the logo on the right and matches size and position with the website */
/* nde-logo img[alt="Library Logo"] {
	height: 150px;
	width: 77px;
	position: fixed;
	top: 0px;
	right: 23px;
	z-index: 10000;
} */
/* Moves the login button to the centre of its element and enlarges the icon */
/* .flex-layout-end-center {
	padding-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-area-btn {
	transform: scale(2);
}
button.user-area-logged-in span.ng-star-inserted {
	background: var(--sys-primary) !important;
} */



/* Removes the top bar shadow so it blends into the page and the logo has no overlap */
.top-bar {
	box-shadow: none !important;
}


/* Disable ripple/ink effects, like hover background, for ALL Material buttons & links in the main menu */
div[data-qa="main-menu_links"] button.mat-mdc-button .mat-mdc-button-persistent-ripple, 
div[data-qa="main-menu_links"] a.mat-mdc-button .mat-mdc-button-persistent-ripple {
	display: none !important;
}
/* Round the hover on the More menu items */
.mat-mdc-menu-item {
	border-radius: 0.5rem;
}

/*** SEARCH BOX, Scope Select and Advanced Search ***/
/* Move the search box area up to fill empty space */
.custom-search-bar-container {
	height: 15rem !important;
}
/* Removes the image behind the search box */
.top-bar-background-image {
	background-image: none !important;
	padding: 2rem 0 !important;
	margin: 0 !important;
	height: auto !important;
	min-height: 0 !important;
}
/* Remove the washout of the background image area */
.custom-search-bar-container .background-overlay {
	display: none;
}
/* Changes the main title colour, position and font weight */
.custom-search-bar-container h2 {
	padding-top: 3.5rem;
	padding-right: 3rem;
	color: var(--button-text) !important;
	font-weight: 350 !important;
}
/* Change the drop-down scope selector styles */
.search-dropdown-container-button {
	color: var(--button-text) !important;
	font-size: large !important;
	font-weight: 400;
	min-height: 64px !important;
	border-radius: 16px !important;
	box-shadow: var(--shadow-light);
	outline: none !important;
	background-color: var(--lightBG) !important;
}
.search-dropdown-container-button:active {
	outline: 1px solid black;
}
/* Change the scope selection drop-down menu's color */
.add-scope-menu {
	background-color: var(--sys-background) !important;
}
.add-scope-menu .mat-mdc-menu-item.selected {
	background-color: var(--darkBG) !important;
}
/* Change the search input box styles */
.search_box_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.search-bar-container .search-bar-wrapper {
	height: 64px;
	border-radius: 16px !important;
}
.search_box_container input,
.search_box_container button,
.search_box_container mat-icon {
	font-size: large !important;
}
/* Remove the black outline that appears around search-term text, within search input box, on search */
.search-input-field.keyboard-focused {
	display: none;
}
/* Styles the Advanced search button */
button[data-qa="advanced_search_button"],
button[data-qa="natural-language-search-button"] {
    color: var(--button-text) !important;
    font-size: large;
    font-weight: 400;
    min-height: 64px !important;
    border-radius: 16px !important;
    box-shadow: var(--shadow-light);
    background: var(--lightBG) !important;
    transition: background var(--transition-fast), box-shadow var(--transition-fast);
    text-decoration: none !important;
}
button[data-qa="advanced_search_button"] *,
button[data-qa="natural-language-search-button"] * {
    text-decoration: none !important;
}
button[data-qa="advanced_search_button"]:hover,
button[data-qa="natural-language-search-button"]:hover {
    background: var(--darkBG) !important;
    box-shadow: var(--shadow-medium);
}
button[data-qa="advanced_search_button"]:focus,
button[data-qa="natural-language-search-button"]:focus {
    outline: var(--sys-primary) !important;
}
mat-icon[data-mat-icon-name="natural-language-search"] svg path {
    fill: black !important;
}
/* Change menu option backgrounds in Advanced search panel to match scope selection drop-down */
mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-select[appearance="outline"][subscriptsizing="dynamic"].item,
mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-select[appearance="outline"][subscriptsizing="dynamic"].length-for-date-form {
	background: var(--lightBG);
}
div.mat-mdc-select-panel {
	background: var(--sys-background) !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
	background-color: var(--darkBG) !important;
}
/* Square the corners of the advanced search 'Search' button and homepage login button */
button[data-qa="submit-advanced-search-form"], #myLibraryCard {
  border-radius: 0.5rem;
}
/* Stops lower case descenders being truncated */
.search-dropdown-container-button-text {
  line-height: normal; 
}

/*** BRIEF RESULTS - including Resource Recommender ***/
/* Styles the resource recommender recommendation buttons, including on hover below */
[id^="card-"] > nde-resource-recommender-card > mat-card {
    color: var(--sys-primary);
    background-color: var(--sys-inverse-on-surface) !important;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
}
[id^="card-"] > nde-resource-recommender-card > mat-card:hover {
    color: var(--sys-primary);
    background-color: var(--darkBG) !important;
    box-shadow: 2px 2px 8px rgba(40, 38, 27, 0.4);
    border-radius: 2rem;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

/*Quick Filter buttons*/
button.quick-filter-btn.mat-mdc-outlined-button{
    color: var(--sys-primary);
    background-color: var(--sys-inverse-on-surface) !important;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
}
button.quick-filter-btn.mat-mdc-outlined-button:hover {
    color: var(--sys-primary);
    background-color: var(--darkBG) !important;
    box-shadow: 2px 2px 8px rgba(40, 38, 27, 0.4);
    border-radius: 2rem;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

/* The selected quick links. Make them the same as the selected facets */
button.quick-filter-btn.mat-mdc-outlined-button.quick-filter-btn-active {
	background-color: buttonface !important; 
	border: 1px solid var(--sys-primary);
}


/* Thumbnail border removed */
.record-thumbnail {
	outline: 0 !important;
}
/* Newspaper search links removed from Resource type facet list and bottom of brief results */
button[data-qa="link-to-newspaper-search"], [data-qa="link-to-newspaper-search"] {
	display: none;
}
/* Changing the resource type quick filter text to black for accessability and rounding hover corners */
.record-type, .resource-type-items {
	color: var(--sys-primary) !important;
}
.resource-type-items {
	border-radius: 0.5rem !important;
}
.active-resource-type {
	border-radius: 0rem !important;
}



/***FULL VIEW - including REQUESTS SECTION***/
/* Hide the title at the top of the requests section (but not the whole section)*/
[id="title-nde.request.title"]{
	display: none !important;}
/* Hide the upper section of the Request section so less space is used */
[aria-labelledby="title-nde.request.title"] {
	display: none !important;
}
/* Changes the Requests section message's to not display */
.no-requests {
	display: none;
}
/* Makes the link to Requests section more noticeable */
button.link-button.mat-mdc-button.mat-primary {
	border-radius: 0.5rem;
	padding: 0px 6px !important;
	font-weight: 500;
}
/* Removes the hover effect on the View Online box that has the custom message */
.view-it-card-container .view-it-text-with-icon:hover {
    background-color: initial !important;
}
/* tighten up the expansion panels a bit*/
.mat-expansion-panel-body {
    padding-bottom: 12px !important;
	padding-top: 12px !important;
}
/* Sets the colours of the lists of items in availability lists in fulfilment section */
nde-location-item .even-location-item-card {
    background-color: var(--listBG1) !important;
}
nde-location-item .odd-location-item-card {
	background-color: var(--listBG2) !important;
}
/* Changes the column spacing for serials table to allow space for parts info */
.brief-property-header-container .flex-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.brief-property-header-container .getit-items-brief-property {
	flex: 1;
}
.brief-property-header-container .getit-items-brief-property:nth-child(1) { /* Adjust individual column widths */
	flex: 2; /* First column wider */
}
.brief-property-header-container .getit-items-brief-property:nth-child(2),
.brief-property-header-container .getit-items-brief-property:nth-child(3) {
	flex: 1;
	margin-left: 8px;
}
/* Vertically centres the table rows */
.mat-expansion-panel-header .grid-header {
	display: grid; 
	align-items: center !important;         
}
/* Set square hover background on fulfillment Request button, Filters button and message buttons */
.mat-mdc-button:has(.material-icons,mat-icon,[matButtonIcon]), button[data-qa="AlmaItemRequest"], .getit-clear-filters-button, button[data-qa="alma-request-button-AlmaRequestOther"], button[translate="fulldisplay.locations.showmore"]  {
	border-radius: 0.5rem !important;
}
/* Makes the request button more buttony */
button[data-qa="AlmaItemRequest"], button[translate="fulldisplay.locations.showmore"] {
	margin: 5px 2px;
	background-color: Var(--darkBG);
	box-shadow: var(--shadow-light);
	transition: background var(--transition-fast), box-shadow var(--transition-fast);
}
div.flex-row:has(> button[data-qa="alma-request-button-AlmaRequestOther"]) {
	padding: 0 !important;
}
/* Set square hover background on expand/collapse button and Send To icons*/
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
	border-radius: 0.5rem !important;
}
/* Set full record nav buttons to square backgrounds */
button[data-qa^="back_to_results"], button[data-qa^="prev_record"], button[data-qa^="next_record"] {
	border-radius: 0.5rem;
}
/* Move request other items to below the item list */
nde-location-items-requests {
	order: 2;
}
/* Hide the Links section in the full record */
mat-expansion-panel:has(> mat-expansion-panel-header[aria-labelledby="title-nui.brief.results.tabs.links"]) {
	display: none;
}

/*** REQUEST/BOOKING FORM ****/
/* Hide the request type as we only want them to use booking */
formly-field[data-qa="almaRequest.requestType"]{
	display: none;}	
	
/*add a note above the end date entry box*/
formly-field[data-qa="almaRequest.endDate"]::before{
	content: "End date should be within 7 days of start";
	font-weight: 500;
}

/*  !!!Warning!!!
    The Request other issue form and the standard request/booking form are actually the same form. There's no way to tell them apart as far as I can see.
    That means changing the flex rules or the field order in one form affects both
	So far that isn't a problem, but beware
*/
nde-base-request-form > div > div:nth-child(2) > form > mat-dialog-content > formly-form > formly-field > formly-group{
	display: flex;
	flex-direction: column;
	}
formly-field[data-qa="almaRequest.publicationDate"]{order: 3;}  
/* volume & part are in a group so have to select two levels above to move them*/
formly-field:has(formly-group > formly-field[data-qa="almaRequest.volume"]){order: 4;}
formly-field[data-qa="almaRequest.comment"]{order: 5;}  

/* We don't want to display manualDescription but we can use it to place some text at the top */	
formly-field[data-qa="almaRequest.manualDescription"]:before {
	color: red;
    content: "NOTE: Requests made by this method take 7 days to process"}
/*Hide the entry field*/
formly-field[data-qa="almaRequest.manualDescription"] > nde-formly-general-wrapper {display: none}
/*Hide it from the 'Pease fill in ...' message */
nde-request-form > nde-base-request-form > div > div:nth-child(2) > form > div > div > div > ul > li:nth-child(1){display: none}


/*** USER AREA ***/
/* Hide Renew All options in the two places it appears */
a[data-qa="loans-overview-renew-all-btn"]{
	display: none;}
	
button[data-qa="loans-renew-all-btn"]{
	display: none;}
	
/* Hide the settings option to update your password */
button[data-qa="settings-update-login-btn"]{
	display: none;}

/* Hide all the user details except for the email address*/
div[data-qa="nde.details.patron.group"]{
	display: none;}	
div[data-qa="contact.address_1"]{
	display: none;}	
div[data-qa="contact.city"]{
	display: none;}	
div[data-qa="contact.state"]{
	display: none;}	
div[data-qa="contact.zip"]{
	display: none;}	
div[data-qa="contact.country"]{
	display: none;}		
div[data-qa="nui.details.phoneNumberSection"]{
	display: none;}	

/*** HOME PAGE CSS needed to overload styles set elsewhere and not responding when put in homepage.css file ***/
.main-landing-page .welcome-announcements-container .announcements {
	max-width: 100% !important;
}
