<div class="aide-onglet" (click)="toggleAide()" [class.open]="isOpen">
  <div class="content-wrapper">
    <div class="icon-wrapper">
      <svg viewBox="0 0 512 512" fill="currentColor">
        <path
          d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z" />
      </svg>
    </div>
    <span class="label">AIDE</span>
  </div>
</div>

<div class="aide-panneau" [class.open]="isOpen">
  <div class="panneau-banner">
    <img src="assets/images/banner-aide.jpg" alt="">
    <button (click)="toggleAide()" class="close-btn">×</button>
    <h2>Besoin d'aide ?</h2>
  </div>

  <div class="panneau-inner">
    <div class="services-grid">

      <a href="https://extranet.u-bordeaux-montaigne.fr/rita_fo/?num_cg=59&num_form=1" class="service-item"
        target="_blank">
        <div class="s-icon">
          <svg viewBox="0 0 512 512" fill="currentColor">
            <path
              d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" />
          </svg>
        </div>
        <span class="s-label">Nous contacter</span>
        <p class="s-desc">Une question sur un ouvrage ? Un problème de connexion à une base de donnée ? Posez vos
          questions via notre formulaire de contact.</p>
      </a>

      <a href="https://www.u-bordeaux-montaigne.fr/fr/documentation/informations-pratiques.html" class="service-item"
        target="_blank">
        <div class="s-icon">
          <svg viewBox="0 0 512 512" fill="currentColor">
            <path
              d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" />
          </svg>
        </div>
        <span class="s-label">Infos pratiques</span>
        <p class="s-desc">Horaires, accès et services de vos bibliothèques.</p>
      </a>

      <a href="https://etu.u-bordeaux-montaigne.fr/fr/news/documentation/les-pauses-doc-des-ateliers-pour-vous-aider-dans-votre-cursus-a-l-universite.html"
        class="service-item" target="_blank" bo>
        <div class="s-icon">
          <svg viewBox="0 0 448 512" fill="currentColor">
            <path
              d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM128 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM32 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z" />
          </svg>
        </div>
        <span class="s-label">Pauses Doc'</span>
        <p class="s-desc">Venez nous rencontrer ou prenez rendez-vous pour un accompagnement sur mesure.</p>
      </a>

    </div>



    <div class="ta-container">
      <div class="ta-header">
        <h3><span class="main-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentcolor">
              <path
                d="M420.9 448C428.2 425.7 442.8 405.5 459.3 388.1C492 353.7 512 307.2 512 256C512 150 426 64 320 64C214 64 128 150 128 256C128 307.2 148 353.7 180.7 388.1C197.2 405.5 211.9 425.7 219.1 448L420.8 448zM416 496L224 496L224 512C224 556.2 259.8 592 304 592L336 592C380.2 592 416 556.2 416 512L416 496zM312 176C272.2 176 240 208.2 240 248C240 261.3 229.3 272 216 272C202.7 272 192 261.3 192 248C192 181.7 245.7 128 312 128C325.3 128 336 138.7 336 152C336 165.3 325.3 176 312 176z" />
            </svg></span> Trucs et astuces</h3>
      </div>

      <div class="ta-tabs-bar">
        <button [class.active]="activeTab === 0" (click)="activeTab = 0">
          <img src="assets/icons/lock.png" alt="" class="tab-icon"> Pourquoi s'identifier
        </button>
        <button [class.active]="activeTab === 1" (click)="activeTab = 1">
          <img src="assets/icons/lightbulb-small.png" alt="" class="tab-icon"> Conseils de recherche
        </button>
        <button [class.active]="activeTab === 2" (click)="activeTab = 2">
          <img src="assets/icons/video.png" alt="" class="tab-icon"> Tutoriels vidéos
        </button>
      </div>

      <div class="ta-content">

        <div *ngIf="activeTab === 0" class="tab-pane fadeIn">
          <div class="content-header">
            5 raisons de
            <a [attr.href]="authService.getLoginUrl()" class="login-link" id="myLibraryCard" tabindex="0" aria-label="Go to my library card" role="link">
              <svg viewBox="0 0 24 24" class="login-icon">
                <path
                  d="M10,17.25V14H3V10H10V6.75L15.25,12L10,17.25M8,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H8A2,2 0 0,1 6,20V16H8V20H17V4H8V8H6V4A2,2 0 0,1 8,2Z">
                </path>
              </svg>
              S'identifier
            </a>
          </div>

          <ol class="numbered-list">
            <li><a
                href="https://www.u-bordeaux-montaigne.fr/fr/documentation/informations-pratiques/demander-des-documents-bu-a-emporter.html">Demander
                un document en accès indirect</a> (retrait à l'accueil de la bibliothèque)</li>
            <li>Accéder aux ressources en ligne en un clic sur le campus et depuis chez vous</li>
            <li><a
                href='login?vid=33PUDB_UBM:NDE&toState=account/overview&searchHistory={"vid":"33PUDB_UBM:NDE","lang":"fr"}'
                aria-label="Sauvegarder ses recherches" aria-hidden="false">Sauvegarder ses recherches</a></li>
            <li><a
                href='login?vid=33PUDB_UBM:NDE&toState=account/overview&searchHistory={"vid":"33PUDB_UBM:NDE","lang":"fr"}'
                aria-label="Sauvegarder ses recherches" aria-hidden="false">Accéder à son compte lecteur et prolonger un
                emprunt</a></li>
            <li><a
                href="https://www.u-bordeaux-montaigne.fr/fr/documentation/informations-pratiques/numerisation-a-la-demande.html">Faire
                une demande de numérisation pour les documents libres de droits</a></li>
          </ol>
        </div>

        <div *ngIf="activeTab === 1" class="tab-pane fadeIn">
          <p class="astuces">
            Afin d'optimiser votre recherche, il est conseillé d'utiliser les éléments ci-dessous :<br>
            <span class="entete">*</span> (troncature) pour rechercher sur tous les mots ayant la même racine ou la même
            terminaison. <br> <span class="exemple">Ex : histo* recherche "histoire", "histoires", "history" et
              "historien".</span><br>
            <span class="entete">"..."</span> pour rechercher sur l’expression exacte et non sur chacun des mots.<br>
            <span class="exemple">Ex : "économie sociale et solidaire" recherchera l’association des trois termes
              (l’expression exacte).</span><br>
          </p>
          <h5>Le saviez-vous ?</h5>
          <p class="astuces">
            <span class="entete"></span>Pensez à <b>Mémoriser vos filtres</b> pour faire des recherches successives sans
            avoir à sélectionner vos filtres à chaque recherche.<br>
            <span class="entete"></span>Les filtres peuvent être utilisés pour inclure mais aussi pour exclure.<br>
          </p>
        </div>

        <div *ngIf="activeTab === 2" class="tab-pane fadeIn video-grid">

          <a href="https://pod.u-bordeaux-montaigne.fr/video/0284-babord-trouver-un-document/" target="_blank"
            class="video-card">
            <div class="video-icon">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
                <path
                  d="M15.41 12.56L10.61 15.33C10.15 15.6 9.5 15.21 9.5 14.61V9.39C9.5 8.79 10.15 8.4 10.61 8.67L15.41 11.44C15.8 11.66 15.8 12.34 15.41 12.56Z"
                  fill="currentColor" />
              </svg>
            </div>
            <div class="video-content">
              <span class="video-title">Trouver un document</span>
              <span class="video-duration">2 min 44 s</span>
            </div>
          </a>

          <a href="https://pod.u-bordeaux-montaigne.fr/video/1685-affichage-detaille-notice-b/" target="_blank"
            class="video-card">
            <div class="video-icon">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
                <path
                  d="M15.41 12.56L10.61 15.33C10.15 15.6 9.5 15.21 9.5 14.61V9.39C9.5 8.79 10.15 8.4 10.61 8.67L15.41 11.44C15.8 11.66 15.8 12.34 15.41 12.56Z"
                  fill="currentColor" />
              </svg>
            </div>
            <div class="video-content">
              <span class="video-title">Détails d'une notice</span>
              <span class="video-duration">2 min 35 s</span>
            </div>
          </a>

          <a href="https://pod.u-bordeaux-montaigne.fr/video/1686-astuces-pour-preciser-sa-recherche/" target="_blank"
            class="video-card">
            <div class="video-icon">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
                <path
                  d="M15.41 12.56L10.61 15.33C10.15 15.6 9.5 15.21 9.5 14.61V9.39C9.5 8.79 10.15 8.4 10.61 8.67L15.41 11.44C15.8 11.66 15.8 12.34 15.41 12.56Z"
                  fill="currentColor" />
              </svg>
            </div>
            <div class="video-content">
              <span class="video-title">Préciser sa recherche</span>
              <span class="video-duration">3 min 33 s</span>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isOpen" (click)="toggleAide()"></div>