<div class="ubm-alerts-container">
  <!-- Remplacement de div par <aside> ou role="alert" pour l'accessibilité si c'est un message important -->
  <div class="ubm-alert" role="alert">
    <span class="material-icons ubm-alert__icon" aria-hidden="true">warning</span>
    <div class="ubm-alert__content">
      <b>{{ 'ubmchangepassword.ligne1' | translate }}</b> {{ 'ubmchangepassword.ligne2' | translate }} 
      <a href="https://moncompte.u-bordeaux-montaigne.fr/" 
         class="ubm-alert__link" 
         target="_blank" 
         rel="noopener noreferrer"
         [attr.aria-label]="('ubmchangepassword.arialabel' | translate)">
         {{ 'ubmchangepassword.ligne3' | translate }} <span class="material-icons ubm-alert__link-icon">open_in_new</span>
      </a> 
      {{ 'ubmchangepassword.ligne4' | translate }}
    </div>
  </div>
</div>
